[Desktop Entry]

Name=Wine Explorer

Type=Application
Icon=preferences-desktop-theme-windowdecorations
Version=1.0
Exec=/data/data/com.termux/files/usr/glibc/opt/scripts/yebanos_wine explorer
Terminal=false
Categories=System;
StartupNotify=true
Comment=
Path=
  
